.BoardManageThumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.BoardManageThumb h1 {
    font-size: 3rem;
}

.tabs li.is-active{
    background-color: red;
    height: 100%;
}

.BoardRequestWrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.Request {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.Request h3 {
    /* background-color: aqua; */
    text-align: center;
    margin-top: 1rem;
}

.ButtonWrapper Button{
    width: 5rem;
}

.ReportSearch {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    padding: 0 1rem;
}

.ReasonSearch {
    height: 2rem;
    width: 20rem;
    margin: 1rem 0;
}

.TimeSearch {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.TimeSearch input {
    width: 15rem;
}

.AdminBoardSearch .CustomSearchArea {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.AdminBoardSearch .AdminSearchResultsWrapper {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
    padding: 1.5rem;
    padding-left: 2rem;
}

.AdminBoardSearch .AdminSearchResult {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.AdminBoardSearch .AdminSearchResult h3 {
    text-align: center;
    margin-top: 1rem;
}

.AdminBoardSearch .AdminSearchResult h6 {
    text-align: center;
}

.TimeSearch img {
    border: solid 1px white;
}

input[type='datetime-local'] {
    background-color: black;
    color: white;
    border: solid 1px white;
    width: 3rem;
}

.BoardReportReason {
    display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .SearchArea {
        margin-top: 2rem;
    }

    .BoardManageThumb {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    
    .BoardManageThumb h1 {
        font-size: 3rem;
        margin-bottom: -1rem;
    }

    .ReportSearch {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }
    
    .ReasonSearch {
        height: 2.5rem;
        margin-top: 0rem;
    }
    
    .TimeSearch {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        /* margin-left: 1rem; */
    }
    
    .TimeSearch input {
        width: 15rem;
    }

    .ReportSearch Button {
        width: 30rem;
    }
}
    

@media screen and (min-width: 1024px) {
    .SearchArea {
        margin-top: -5rem;
    }

    .BoardManageThumb {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    
    .BoardManageThumb h1 {
        font-size: 3rem;
        margin-bottom: -1rem;
    }

    .ReportSearch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 1rem;
    }
    
    .ReasonSearch {
        height: 2.5rem;
        margin-top: 0rem;
    }
    
    .TimeSearch {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    
    .TimeSearch input {
        width: 15rem;
    }

    .ReportSearch Button {
        width: 5rem;
        height: 3rem;
        margin-left: 1rem;
    }
}
    