/* 전체 서식(검은 배경에 흰 글씨)*/
/* mobile-first */
body {
    background-color: black;
  }
  
  div {
    color: white;
  }
  
  .Home {
    text-align: center;
  }
  
  /* 상단바(사이드바 & 회원정보) */
  .TopBar { 
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    /* background-color: red; */
  }
  
  .TopBar #member { 
    margin-top: 0.25rem;
    margin-right: 0.25rem;
  }
  
  /* 메인 로고 */
  .Logo {
    display: flex;
    justify-content: center;
    /* background-color: orange; */
    padding-top: 15em;
  }
  
  .Logo h3 {
    display: flex;
    font-size: 1rem;
    padding-top: 1rem;
    margin-left: 0.5rem;
  }
  
  .Logo h3 span {
    color: red;
    margin-left: 0.5rem;
  }

  /* 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1023px){
  .Logo h1 {
    font-size: 2.5rem;
  }

  .Logo h3 {
    display: flex;
    padding-top: 1.5rem;
    margin-left: 0.5rem;
  }
}

/* PC */
@media screen and (min-width: 1024px){
  .Logo {
    padding-top: 10rem;
  }

  .Logo h1 {
    font-size: 3.5rem;
  }

  .Logo h3 {
    display: flex;
    font-size: 1.5rem;
    padding-top: 2rem;
    margin-left: 0.5rem;
  }

  .SideBar span {
    font-size: 2.5rem;
  }

  .TopBar #member { 
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    width: 50px;
    height: 50px;
  }
}
