textarea {
    background-color: black;
    color: white;
    border: solid white 1px;
}

.Title {
    display: flex;
    justify-content: space-between;
    padding: 3rem 7rem;

}

.CommunitiesWrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.Community {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.Community h3 {
    /* background-color: aqua; */
    text-align: center;
    margin-top: 1rem;
}

.Community h6 {
    /* background-color: aqua; */
    text-align: center;
}

.BoardInfo {
    display: flex;
    margin-top: 21rem;
    justify-content: space-between;
}

.Text {
    display: flex;
    margin-left: 1rem;
}

.BoardInfo .Text h1 {
    font-size: 2.5rem;
    color: white;
    margin-top: 0.5rem;
}

.BoardInfo .Text h4{
    font-size: 1.25rem;
    color: white;
    margin-top: 2rem;
    margin-left: 0.5rem;
}

.Btn {
    margin-right: 1rem;
    display: flex;
}

.Btn .FavoriteButton {
    margin-top: -0.25rem;
    margin-left: 1rem;
}

.SubSearchArea {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: right;
    margin-right: 3rem;
}

.SubSearchArea input{
    width: 15rem;
}

.SubSearchArea .WriteButton{
    margin-left: 0.5rem;
}

table {
    width: 80%;
}

th, td {
    color: white;
}

.ThumbImg {
    position: absolute;
    margin-top: -4rem;
    z-index: -1;
    object-fit: cover;
}

.TableWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TableContainer {
    /* background-color: darkblue; */
    margin: 1rem;
    padding: 1rem;
    width: 80%;
}

.pagination {
    width: 100%;
    margin-top: -2.5rem;
}

.FreeBoardThumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.FreeBoardThumb h1 {
    font-size: 3rem;
}

.WriteArea {
    /* background-color: red; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WriteWrapper table {
    width: 30rem;
    margin: auto;
}

.WriteWrapper table, td, th {
    border-collapse : collapse;
}

.WriteWrapper {
    /* background-color: orange; */
    padding: 1rem;
}

.WriteWrapper #board-title {
    width: 25rem;
}

.WriteWrapper #board-content {
    height: 10rem;
    width: 25rem;
    margin-top: 1rem;
}

.ButtonWrapper {
    justify-content: center;
}

.ButtonWrapper Button {
    margin: 1rem;
}

.Reply {
    display: flex;
    flex-direction: row;
}

.WriteReply {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}

.WriteReply img, .Reply img{
    margin-right: 1rem;
}

.ContentContainer {
    display: flex;
    width: auto;
}

.ReplyContainer {
    width: 100%;
}

.WriteReply textarea {
    width: 100%;
    height: 5rem;
}

.ContentContainer textarea {
    width: 100%;
    height: 5rem;
}

.WriteReply Button {
    height: 5rem;
    width: 4rem;
    margin-top: 1.7rem;
}

.ContentContainer button {
    height: 5rem;
    width: 4rem;
    background-color: #dc3545;
    color: white;
    border-radius: 0.25rem;

}

.WriteReply .ReplyContentWrapper {
    width: 90%;
}

.UserBoardSearch .CustomSearchArea {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.SearchResultsWrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 1.5rem;
    padding-left: 2rem;
}

.SearchResult {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.SearchResult h3 {
    /* background-color: aqua; */
    text-align: center;
    margin-top: 1rem;
}

.SearchResult h6 {
    /* background-color: aqua; */
    text-align: center;
}

.PostInfo {
    /* background-color: orange; */
    margin: 0 3rem;
}

.WrittenInfo {
    display: flex;
    justify-content: space-between;
}

.ContentWrapper {
    margin: 0 3rem;
}

.PostContentContainer {
    padding: 1rem;
    display: flex;
    width: 100%;
}

.PostBtnWrapper {
    display: flex;
    justify-content: right;
    width: 100%;
}

.PostBtnWrapper Button {
    margin-left: 0.5rem;
}

.ReplyWrapper {
    margin: 0 3rem;
}

.Reply {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}

.Reply .ReplyContentWrapper {
    display: flex;
    width: 80%;
}

.ReplyFuncWrapper {
    justify-content: right;
}

.ReportArea {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ReportWrapper {
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-top: 5rem;
}

.ReportWrapper textarea {
    width: 100%;
    height: 15rem;
}

.ReplyInfo {
    display: flex;
}

.TimeInfo {
    margin-left: 1rem;
    color: gray;
}

.ContentContainer .WriteReply {
    margin-top: 3rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .SearchArea {
        margin-top: 2rem;
    }

    .FreeBoardThumb {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    
    .FreeBoardThumb h1 {
        font-size: 3rem;
        margin-bottom: -1rem;
    }

    .WriteArea {
        /* background-color: red; */
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .WriteWrapper table {
        width: 50rem;
        margin: auto;
        margin-left: 10rem;
    }
    
    .WriteWrapper table, td, th {
        border-collapse : collapse;
    }
    
    .WriteWrapper {
        /* background-color: orange; */
        padding: 1rem;
    }
    
    .WriteWrapper #board-title {
        width: 40rem;
    }
    
    .WriteWrapper #board-content {
        height: 15rem;
        width: 40rem;
        margin-top: 1rem;
    }
    
    .ButtonWrapper {
        /* background-color: yellow; */
        justify-content: center;
    }
    
    .ButtonWrapper Button {
        margin: 1rem;
        width: 10rem;
        height: 3rem;
    }
}
    

@media screen and (min-width: 1024px) {
    .SearchArea {
        margin-top: -5rem;
    }

    .FreeBoardThumb {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    
    .FreeBoardThumb h1 {
        font-size: 3rem;
        margin-bottom: -1rem;
    }

    .WriteArea {
        /* background-color: red; */
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .WriteWrapper table {
        width: 90rem;
        margin: auto;
        margin-left: 10rem;
    }
    
    .WriteWrapper table, td, th {
        border-collapse : collapse;
    }
    
    .WriteWrapper {
        /* background-color: orange; */
        padding: 1rem;
    }
    
    .WriteWrapper #board-title {
        width: 80rem;
    }
    
    .WriteWrapper #board-content {
        height: 15rem;
        width: 80rem;
        margin-top: 1rem;
    }
    
    .ButtonWrapper {
        /* background-color: yellow; */
        justify-content: center;
    }
    
    .ButtonWrapper Button {
        margin: 1rem;
        width: 10rem;
        height: 3rem;
    }
    
}
    