.LoginTotalArea .Logo {
    margin-bottom: 1rem;
    padding-top: 15rem;
  }

.LoginWrapper {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LoginArea {
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    width: 20rem;
    height: 2.5rem;
}

#login-btn {
    width: 5rem;
}

.InputArea {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 5rem;
    /* background-color: aqua; */
}

ul li {
    text-align: center;
    padding: 1rem;
    /* background-color: red; */
}

/* 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1023px){
    /* ul {
        margin-left: 10rem;
    } */
}

/* PC */
@media screen and (min-width: 1024px){
    /* ul {
        margin-left: 40rem;
    } */
}
