.UserInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainInfo {
    display: flex;
    /* background-color: red; */
    padding: 1rem;
    margin-top: 2rem;
}

.MainInfo img{
    margin-left: -10rem;
}

.MainInfo .TextInfo {
    margin-left: 2rem;
    margin-top: 2rem;
}

.ActivityHistory {
    margin-top: 2rem;
}

.HistoryWrapper {
    border: 1px solid white;
    width: 25rem;
}

.HistoryWrapper div {
    padding: 0.5rem;
    margin-left: 1rem;
}

.FavoriteMovies {
    margin-top: 3rem;
}

.MovieWrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.Movie {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.Movie h4 {
    /* background-color: aqua; */
    text-align: center;
    margin-top: 1rem;
}

.MovieWrapper {
    border: 1px solid white;
    width: 25rem;
    padding: 0.5rem;
}

.ButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ButtonWrapper Button {
    margin-left: 0.5rem;
    width: 4rem;
}

.MainInfoUpdate {
    display: flex;
    margin-top: 3rem;
    margin-left: 1rem;
}

.MainInfoUpdate input {
    margin-top: 3rem;
    margin-left: 1.5rem;
    width: 12rem;
}

.MainInfoUpdate #duplicate-check {
    height: 3rem;
    margin-top: 3rem;
    margin-left: 0.5rem;
}

.InputWrapper table {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    width: auto;
}
.InputWrapper Button {
    margin-left: 0.5rem;
}

.MyPageArea {
    /* background-color: red; */
    flex-direction: column;
}

.MainInfoUpdate {
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.InputWrapper {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
}

.InputWrapper input{
    width: 15rem;
}

th {
    padding-right: 1rem;
}

/* 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .InputWrapper {
        margin-left: 7rem;
    }
}

/* PC */
@media screen and (min-width: 1024px){
    .profileArea {
        margin-left: -5rem;
    }

    .InputWrapper input{
        width: 20rem;
    }
}