.PopupBackGround{
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.5);
  }

.Popup {
    border: 1px solid white;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    width: 40rem;
    height: 30rem;
    margin: -15rem 0 0 -20rem;
}

.Popup header .close {
    display: flex;
    justify-content: right;
    padding: 1rem;
}

.Popup main {
    padding: 2rem;
}

.Popup footer {
    display: flex;
    justify-content: right;
}